.typography {
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  padding-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
